html,
body {
    margin: 0;
    padding: 0;
}

.auth-card input {
    padding: 12px;
    font-size: 16px;
    border-radius: 8px;
}

.auth-card button {
    padding: 12px;
    font-size: 16px;
    background: #5419da;
    color: #fff;
    border: none;
    cursor: pointer;
    width: 120px;
    margin: 0 auto;
    border-radius: 50px;
}
